requests
pycryptodome
curl_cffi
aiohttp
certifi
browser_cookie3
PyExecJS
werkzeug
loguru
pillow
platformdirs
fastapi
uvicorn
py-arkose-generator
async-property
undetected-chromedriver
brotli
beautifulsoup4
setuptools
aiohttp_socks
bingart
curl_cffi>=0.6.2
duckduckgo-search>=5.0
flask
pywebview
plyer
cryptography
