<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>AI Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="ChatGPT">
    <link rel="icon" href="https://gamelist1990.github.io/gamelist1990/gamesite/images/logo.png"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/home/css/home.css">
    <script src="/home/js/main.js"></script>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
</head>
<body>
    <h1>AIライブラリへようこそ！!</h1>
    <br />
    <div class="container">
        <h2>AIチャットボットについて</h2>
        <p>このサイトでは、AIチャットボットがあなたの質問に答えてくれます。本来はGemini-Proが機能しますが、サーバーの問題でエラーが起きた時は予備の<a href="https://gemini.google.com/">Gemini</a>が使用されます本来はbingを使いたいのですがサーバの問題でgeminiにしました、また通常の会話なら3秒で回答されます(会話の内容によって変わります)。</p>
        <h2>新機能: 画像生成</h2>
        <p>!image 生成したい画像 例： !image 猫が踊る  で画像を生成できます！画像生成に掛かる時間はおおよそ30秒です。また画像生成のエラーが起きることがありますが<br>何回やっても無理な場合一日の上限を超えてるかもしれません</p>
        <textarea id="question" type="text" placeholder="ここに質問を入れる"></textarea>
        <button onclick="askQuestion()">質問</button>
        
        <div id="answer"></div>
        <div id="error"></div>
        <button onclick="goBack()">ホームページに戻る</button>
        <h2>サンプルコード</h2>
        <p>以下のコードはこのサイトを利用するためのサンプルコードです/リクエストを送るにはテキストは"https://webapi-8trs.onrender.com/ask?text=hello"<br><br>画像生成の場合は"https://webapi-8trs.onrender.com/generate_image?prompt=cat"という感じでリクエストしてください画像はbase64で返されます</p>
        <h3>Python</h3>
        <p>
            import requests

            url = "https://webapi-8trs.onrender.com/ask"
            params = {"text": "こんにちは", "user_id": "123"}

            response = requests.get(url, params=params)

            print(response.json())
        </p>
        <h3>JavaScript</h3>
        <p>
            const axios = require('axios');

            const url = 'https://webapi-8trs.onrender.com/ask';
            const params = { text: 'こんにちは', user_id: '123' };

            axios.get(url, { params })
              .then(response => {
                console.log(response.data);
              })
              .catch(error => {
                console.error(error);
              });
        </p>
    </div>
</body>
<widgetbot
  server="1069498529866842173"
  channel="1069498529866842173"
  width="auto"
  height="auto"
></widgetbot>
<script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
    new Crate({
        server: '1069498529866842173', // 
        channel: '1069498532068872193' // htmlコードを勝手に使わないでね
    })
</script>
</html>